@font-face {
    font-family: 'Ubuntu Condensed';
    src: url(../fonts/ubuntu/Ubuntu-R.ttf);
}
html{
    --tr: transparent;
    --wh: white; /*html,body, .p_active, .p_active:hover, .p_front_data, .p_front_info, back_img .galery_img, .fancybox-title-inside-wrap, .item_nr*/
    --bl: black; /*.item_nr*/
    --lg: lightgrey;
    --gg: #ccc;
    --dg: darkgrey;
    --yl: rgb(239, 216, 38); /*Yellow #efd826*/
    --bl: rgb(102, 175, 233); /*Blue #66afe9 lighter than FB*/
    --vd: rgb(70, 72, 78); /* very dark grey #46484e */
    --fb: rgb(66, 103, 178); /* FB Blue #4267b2 */
    --tm: rgba(0, 0, 0, 0.5); /* top menu bg */
}
html.busy, 
html.busy * {  
    cursor: wait !important;
    /*cursor: progress !important;*/
}
html{
    height: 100%; 
}
html, 
body
{
    font-family: 'Ubuntu Condensed';
    font-size: 16px;
    font: 1em 'Ubuntu Condensed', Impact, Charcoal, sans-serif;
    text-shadow: 2px 1px 3px #000; 
    min-height: 100%;
    z-index: -4;
    position: relative;
    color: var(--wh);
    background-color: var(--bl);
}
body {
    background: rgba(0, 0, 0, 0) url(../img/bg/bg.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    z-index: -3;
}
body {
    padding-bottom: 2em;
}
/* Moved background when scroll*/
#cover_bg {
	min-height:100%;
    height: 100%;
    z-index: -2;
    width: 100%;
}
#cover_bg:after {
    content: "";
    background-image: url('../img/bg/IehB7.png');
    background-position: center center;
    opacity: .5; /*0.6*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
.keep{
    padding-bottom: 4em;
}
a{
    color: inherit;
}
a,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}
a:visited{
    color: var(--dg);
}
a:hover{
    color: var(--gg);
}
a:active{
    color: var(--yl);
}
textarea{
    padding-left: 2px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
button, 
input, 
textarea, 
select, 
input[type="checkbox"]
{  
    border: none;
    border: 1px solid grey;
    min-width: 40px;
    text-shadow: 2px 1px 3px #000;
}
button.copy, 
button, 
input, 
textarea, 
select, 
input[type="radio"] {
   background-color:  var(--tr);
}
option{
    border: none;
    text-shadow: 2px 1px 3px #000;
    background-color: var(--tm) !important;
}
input[type="checkbox"]{
    border-color: rgb(239, 216, 38);
}
input[type="checkbox"]:hover{
    border-color: rgb(239, 216, 38);
}
input[type="checkbox"]:focus{
  border-color: rgb(239, 216, 38);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 216, 38, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 216, 38, .6);
}
/** Footer **/
footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin-top: 0.5em;
    padding: 1em 2em;
    vertical-align: bottom;
    height: 3em;
    font-size: 12px;
    background-color: var(--tm);
}
.deoc{
    text-align: left;
}
.me{
    text-align: right;
}
/** Global **/
.center {
    text-align:center;
}
.hidden{
    visibility: hidden;
}
.nomargin {
    margin: 0;
}
.nopadding {
    padding: 0;
}
.disabled {
    opacity: 0.1;
}
.loader {
    display:none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5) url('../img/ico/frog.gif') 50% 50% no-repeat;
}
/** Logo **/
.logo{
    max-width: 240px;
    padding-bottom: 1em;
    margin-top: 7px;
}
.center .logo{
    margin-top: 20px;
}
/**top menu**/
#top_menu_placeholder {
    width: 100%;
    height: 3.5em;
}
#top_menu {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 99;
    padding: 0.80em 0em;
    background-color: var(--tm);
}
#top_menu .menu.top:first-child{
    padding-left: 0em;
}
#top_menu .menu.top{
    border: 0px solid yellow;
    font-size: 1.5em;
    padding: 0.0em;
    padding-left: 1em;
    background-color:  var(--tr);
}
/* .menu.left ul li:before,
#top_menu .menu.top:before{
    content: "";
    display: inline-block;
    position: relative;
    #top: 4px;
    #left: -2px;
    border: 0px solid grey;
    #background-image: url('../img/ico/star.gif');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    height: 25px;
    width: 25px;
    visibility: hidden;
} */
/* .menu.left ul li:hover:before,
#top_menu .menu.top:hover:before{
    visibility: visible;
}
.menu.left ul li.active:before,
#top_menu .menu.top.active:before{
    visibility: visible;
} */
/**menu left**/
/* .menu.left ul li:before{
    left: -25px;
} */
/**menu left**/
.menu.left{
    text-align: left;
}
.menu.left ul{
    list-style-type: none;
    padding-left: 0px;
    position:relative;
}
.menu.left ul li{
    padding: 0.4em 0;
}
.menu.left ul li.active a,
#top_menu .menu.top.active{
    font-weight: bold;
    outline: 0;
    color: var(--yl);
}
.menu.left ul li:before,
#top_menu .menu.top:before{
    background-color:  var(--tr);
}
.nowrap{
    white-space: nowrap;
}
.menu.left ul li ul {
    padding-left: 15px;
}
/**Slider correction**/
.ws_bulframe > div > div {
    width: 1800% !important;
}
.slider_container{
    
}
/**photos front**/
.p_front_data {
    top: 0em; 
    left: 0em; 
}
.p_front_info {
    bottom: -0.6em; 
    right: 0em;  
}
.p_front_data,
.p_front_info {
    opacity: 0;
    position: absolute; 
    text-align: right;
    padding: 0 0.2em;
    -webkit-transition: opacity 0.8s ease; /* Safari */
    transition: opacity .8s ease;
    color: var(--wh);
    background-color: var(--vd);    
    
    /*transition: [transition-property all (the default)] [transition-duration] [transition-timing-function ease linear ease-in ease-out ease-in-out step-start step-end ] [transition-delay];*/
}
.div_front:hover > .p_front_data,
.div_front:hover > .p_front_info
{
    opacity: 1;    
}
.div_front {
    position: relative; 
    display: inline-block;
    margin-left: -0.22em;
    box-shadow: 2px 1px 3px #000;
    #vertical-align: top;
}
.div_front img {
    
}
video{
    vertical-align: middle !important;
    height: 200px; /*musi byc takie takie jak w ustawieniach miniaturek w ImageClass */
}
video ~ .p_front_info 
{
    bottom: 1.1em;
}
/**Phots back **/
.back_img video{
    max-width: 150px; /* sprawdzic czy sie nie jebie jak wideo wieksze czy cos */
    max-height: 100px;
}
.back_img{
    width: 150px;
    #margin: 0.8em;
    #padding: 0.8em;
}
.back_img .galery_img {
    width: 100%;
    background-color: var(--wh);
}
/** Fancy Box **/
.fancybox-title-inside-wrap {
    padding: 0.2em 0.4em;
    text-shadow: 2px 1px 3px #000;
    color: var(--wh);
    background-color: var(--vd);   
}
/**back settings**/
.copy{
    position:relative;
    top:-3px;
    left:-2px;
    border: 0px solid #777; /* Green */
    background-image: url('../img/ico/copy.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: top right;
    cursor: pointer;
    height: 25px;
    width: 25px;   
}
.save_all {
    position:fixed; 
    right:1em; 
    top:1em;
    z-index: 101;
    width: 5%;
    min-width: 50px;
}
.delete_all {
    position:fixed; 
    right:8em; 
    top:1em;
    z-index: 101;
    width: 5%;
    min-width: 50px;
}
.select_all {
    position:fixed; 
    right:12em; 
    top:1em;
    z-index: 101;
    width: 5%;
    min-width: 50px;
}
.check_box{
}
.search{
    padding-top: 5px;
}
#search{
    float: right;
    width: 10%;
}

.table_list > tbody > tr {
    border-bottom: 1px solid #ddd;
}
.data {
    width: 31.5%;
    min-width: 55px;
    display:inline;
}
.month, .day {

}
.id{
    width: 2em;
}
/**Progress Bar**/
.progress { 
    position:relative; 
    border: 1px solid grey; 
    margin: 0.1em 0em;
    height:25px; 
}
.progress-bar {  
    width:0%; 
    height:25px; 
    border-radius: 4px;
    background-color: var(--yl);
}
.percent { 
    position:absolute; 
    display:inline-block;
    left:48%; 
}
/** Tooltip **/
.items_td{
    width: 3em;
}
.item_nr{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.1em 0.3em;
    border-radius: 4px;
    -webkit-transition: opacity 0.8s ease-in-out; /* Safari */
    transition: opacity .8s ease-in-out;
    color: var(--wh);
    background-color: var(--vd);  
    
}
/** User Form **/
.user_form_center{
    width: 16em;
    margin : auto;
    padding-top: 5em;
}
.user_form{
    max-width: 15em;
}
/**pagination**/
.pagination{
    padding-bottom: 0.5em;
    margin: 5px 0;
    text-align: center;
}
.pagination_sort,
.pagination_limit
{
    width: 50px;
    display: inline;
}
.pagination_start{
    width: 40px;
    display: inline;
    position:relative;
    border-radius: 0;
/*     border-left: 0;
    border-right: 0; */
}
.pagination_start:last-child,
.pagination_start:first-child, .first 
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    
}
.pagination_hide{
    display: none;
}
.p_active,
.p_active:hover,
.pagination_start:hover {
    font-weight: bold;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: var(--yl);
    background-color:  var(--tr);
}
.pagination_start:hover{
    #color: var(--lg);
}
.form-control[disabled]{
  cursor: not-allowed;
}
.p_dots {
    display:none;
    font-size:1.5em;
    position:relative;
    bottom: -0.25em;
}
/**sosial tabls**/
.profile{
    width: 173px;
    height: 173px;
    padding: 0;
    margin: 0;
    border: 2px solid rgb(239, 216, 38);/*yellow*/
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    float:right;
    border-color: rgb(239, 216, 38);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 216, 38, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 216, 38, .6);
}
.social{
    position: fixed;
    right: -50px;
    top: 100px;
    width: 75px;
    -webkit-transition: right 0.5s ease-in-out; /* Safari */
    transition: right .5s ease-in-out;
    z-index: 100;
    border-radius: 4px 0px 0px 4px;
    background-color: var(--fb);
}
.social:hover{
    right: 0px;
}
.img_social{
    display: block;
    width: 50px;
    height: auto;
    padding: 0.1em 0em;
}
.lab{
   width: 25px; 
   height: 105px;
   border-radius: 4px 0px 0px 4px;
   cursor: pointer;
   background-color: var(--fb);
}
.lab > div {
    clear:both;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 0.58em 0em;
    font-size: 1.5em;
    letter-spacing: 0.4em;
}
.ico{
    width: 50px;
}
.lab,
.ico
{
    float:left;
}
/**info**/
.info{
    position: absolute;
    bottom: 5em;
    left: 5em;
    border: 1px solid lightblue;
    display:none;
    border-color: #66afe9; /*orginal blue*/
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    padding:0.5em;
    border-radius: 4px;
    text-shadow: 0px 0px 0px #000; 
    color: var(--bl);
    background-color: var(--wh);
}
/** cookie **/
.cookies{
    position: fixed;
    bottom: 0em;
    padding: 0.5em 1em;
    z-index: 91;
    background-color: var(--tm);
}
.cookies_ok{
    cursor: pointer;
    padding-left: 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--yl);
}
/**debuger**/
#debugger{
    #display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0em;
    z-index: 99;
    text-align: right;
    text-shadow: 0px 0px 0px #000; 
}
.xdebug-var-dump{
    text-shadow: 0px 0px 0px #000; 
}
.xdebug-var-dump:last-child{
    position: fixed;
    bottom:0;
    left: 15%;
    z-index: 99;
}