@font-face {
    font-family: Ubuntu Condensed;
    src: url(../fonts/ubuntu/Ubuntu-R.ttf);
}
html.busy, html.busy * {  
    cursor: wait !important;
    /*cursor: progress !important;*/
}
html, body{
    font-family: Ubuntu Condensed;
    font-size: 16px;
    background-image: url('../img/bg/IehB7.png');
    background-color: #cccccc;
    color: #fff;
    font: 1em 'Ubuntu Condensed', Impact, Charcoal, sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
a:visited{
    color: darkgrey;
    text-decoration: none;
}
a:hover{
    color: #ccc;
    text-decoration: none;
}
a:active{
    color: rgb(239, 216, 38);
    text-decoration: none;
}
.center {
    text-align:center;
}
.hidden{
    visibility: hidden;
}
.nomargin {
    margin: 0;
}
.nopadding {
    padding: 0;
}
.loader
{
    display:none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5) url('../img/tr/loading.gif') 50% 50% no-repeat;
    /*background: url('img/tr/loading.gif') 50% 50% no-repeat rgb(249,249,249);*/
}
/**pagination**/
.pagination_limit{
    width: 50px;
    display: inline;
}
.pagination_start{
    width: 40px;
    display: inline;
    position:relative;
}
.pagination_hide{
    display: none;
}
.p_active:hover,
.p_active{
    color: white;
    background-color: transparent;
    background-image: url('../img/ico/golden_star1.gif');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.pagination_start:hover{
    color: lightgrey;
    background-color: transparent;
    background-image: url('../img/ico/golden_star1.gif');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
}
.pagination{
    padding-bottom: 0.5em;
    margin: 5px 0;
    text-align: center;
}
.p_dots {
    font-size:1.5em;
    position:relative;
    bottom: -0.25em;
}
/**photos front**/
.p_front_info
{
    opacity: 0;
    position: absolute; 
    bottom: -0.6em; 
    right: 0em; 
    color: white; 
    background: black;
    text-align: right;
    padding: 0 0.2em;
    -webkit-transition: all 0.8s ease; /* Safari */
    transition: all .8s ease;
    
    /*transition: [transition-property all (the default)] [transition-duration] [transition-timing-function ease linear ease-in ease-out ease-in-out step-start step-end ] [transition-delay];*/
}
.div_front:hover > .p_front_info
{
    opacity: 1;    
}
.div_front {
    position: relative; 
    display: inline-block;
    margin-left: -0.2em;
    #background: pink;
}
.fancybox-button{
    
}
/**Phots back **/
.back_img{
    width: 150px;
}
.back_img .galery_img {
    width: 100%;
    background: white;
}
/**back settings**/
.save_all {
    position:fixed; 
    right:1em; 
    top:1em;
    z-index: 101;
    width: 5%;
    min-width: 50px;
}
.search{
    padding-top: 5px;
    #text-align: right;
}
#search{
    float: right;
    width: 10%;
}
textarea{
    padding-left: 2px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
button.copy{
    position:relative;
    top:-3px;
    left:-2px;
    border: 0px solid #777; /* Green */
    background-color: transparent;
    background-image: url('../img/ico/copy2.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: top right;
    cursor: pointer;
    height: 25px;
    width: 25px;
    
}
button, input, textarea, select {
    background: transparent;
    border: none;
    border: 1px solid grey;
    min-width: 50px;
}
option{
    background: rgba(0,0,0,0.5) !important;
    #background: rgba(239, 216, 38, 0.4);
    border: none;
}
.table_list > tbody > tr {
    border-bottom: 1px solid #ddd;
}
.data {
    width: 32%;
    min-width: 55px;
    display:inline;
}
.month, .day {
    #width: 3.6em;
}
.id{
    width: 2em;
}
/**top menu**/
#top_menu_placeholder {
    width: 100%;
    height: 3.5em;
}
#top_menu {
    position: fixed;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    padding: 0.80em 0em;
}
#top_menu .menu.top{
    #display:none;
    background: transparent;
    border: 0px solid yellow;
    font-size: 1.5em;
    padding: 0.0em;
}
.menu.left ul li:before,
#top_menu .menu.top:before{
    content: "";
    display: inline-block;
    position: relative;
    top: 4px;
    left: -2px;
    border: 0px solid #777; /* Green */
    background-color: transparent;
    background-image: url('../img/ico/golden_star1.gif');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    height: 25px;
    width: 25px;
    visibility: hidden;
}
.menu.left ul li:hover:before,
#top_menu .menu.top:hover:before{
    visibility: visible;
}
.menu.left ul li.active:before,
#top_menu .menu.top.active:before{
    visibility: visible;
}
/**menu left**/
.menu.left{
    text-align: left;
}
.menu.left ul{
    list-style-type: none;
}
.menu.left ul li{
    #border-bottom: 1px solid yellow;
    padding: 0.1em 0;
    white-space: nowrap;
}
.menu.left ul li.active{
    #border-bottom: 1px solid #66afe9;
    outline: 0;
}
.menu.left ul li a{
    white-space: nowrap;
}
.nowrap{
    white-space: nowrap;
}
/**sosial tabls**/
.social{
    position: fixed;
    right: -50px;
    top: 100px;
    #border: 1px solid red;
    width: 75px;
    -webkit-transition: right 0.8s ease-in-out; /* Safari */
    transition: right .8s ease-in-out;
    #-webkit-transition-property: top, right; /* Safari */
    #transition-property: top, right;
    #-webkit-transition-duration: 1s; /* Safari */
    #transition-duration: 1s;
    z-index: 100;
    background-color: rgb(66, 103, 178);
    border-radius: 4px 0px 0px 4px;
}
.social:hover{
    right: 0px;
}
.img_social{
    display: block;
    width: 50px;
    height: auto;
    #border: 1px solid green;
    padding: 0.2em 0em;
}
.lab{
   width: 25px; 
   height: 105px;
   #border: 1px solid yellow;
   background-color: rgb(66, 103, 178);
   border-radius: 4px 0px 0px 4px;
   cursor: pointer;
}
.lab > div {
    clear:both;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
	transform-origin:;
    padding: 0.58em 0em;
    font-size: 1.5em;
    letter-spacing: 0.0em;
    
}
.ico{
    width: 50px;
    #border: 1px solid blue;
}
.lab,
.ico{
    #display:inline-block;
    float:left;
}
/**Slider correction**/
.ws_bulframe > div > div {
    width: 1800% !important;
}
/**Progress Bar**/
.progress { 
    position:relative; 
    #width:100%; 
    border: 1px solid grey; 
    background-color: transparent;
    margin: 0.1em 0em;
    height:25px; 
}
.progress-bar { 
    background-color: rgb(239, 216, 38); 
    width:0%; 
    height:25px; 
    border-radius: 4px; 
}
.percent { 
    position:absolute; 
    display:inline-block; 
/*     top:3px; */ 
    left:48%; 
}
/**debuger**/
#php,
#debugger{
    display: none;
    position: fixed;
    bottom:0;
    right: 0;
    #width: 100%;
    #background: rgba(255, 255, 255, 0.7);
    #color: black;
    #padding: 1em;
    z-index: 99;
    #text-align: right;
}
.xdebug-var-dump{
    position: fixed;
    bottom:0;
    left: 0;
    z-index: 99;
}