<div class="container-fluid table-responsive">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <td colspan="2">head</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <div id="search-div">Szukaj: <input id="search" type="text" placeholder="szukaj" /></div>
                </td>
            </tr>
            <tr>
                <td rowspan="4">
                    <ul>
                        <li><a class="front category menu" href="?front" >Wszystkie</a></li>
                    </ul>
                </td>
                <td>
                    <table class="table table-bordered table-responsive">
                        <tr>
                            <td>
                                paginacja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                wszystkie fotki
                            </td>
                        </tr>
                        <tr>
                            <td>
                                paginacja
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Footer</td>
            </tr>
        </tfoot>
    </table>
</div>